button {
  border: none;
  background-color: transparent;
}
input {
  width: 500px;
}
.h1 {
  font-family: "Cinzel", serif;
  font-size: 1.2rem;
}
.h2 {
  font-family: "Cinzel", serif;
  font-size: 1.2rem;
  margin-bottom: 30px;
}
.img img {
  width: 500px;
  margin-top: 40px;
  border-radius: 2rem;
}
.icons img {
  width: 30px;
  margin: 30px 30px 75px 30px;
}
body {
  display: block;
  margin: 10px;
  background: url(https://abrakadabra.fun/uploads/posts/2022-01/1641372081_4-abrakadabra-fun-p-fon-s-krasnim-ottenkom-4.jpg);
}
.meow {
  box-shadow: 0 0 15px 0 grey;
  border-radius: 2rem;
  width: 700px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(194, 29, 29);
}
